<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<property scope="context" name="logger.type" value="customerservice" />
	<include resource="org/springframework/boot/logging/logback/defaults.xml" />

	<jmxConfigurator />

	<appender name="accountservice"	class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>C:/var/log/td-agent/customer-service.log</file>
		<encoder>
		  <Pattern>%d{yyyy-MM-dd} ${logger.type} %p %m%n</Pattern>
		</encoder>

		<rollingPolicy	class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
			<maxIndex>10</maxIndex>
			<!-- rollover daily -->
			<fileNamePattern>C:/var/log/td-agent/customer-service.log%i.log</fileNamePattern>
		</rollingPolicy>
		<triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
			<maxFileSize>5MB</maxFileSize>
		</triggeringPolicy>
	</appender>

	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
		  <Pattern>%d{yyyy-MM-dd} ${logger.type} %p %m%n</Pattern>
		</encoder>
	</appender>

	<root level="info">
		<appender-ref ref="accountservice" />
		<appender-ref ref="CONSOLE" />
	</root>
</configuration>